.gkits-color-control {
	.components-base-control__field,
	.components-base-control {
		margin: 0 !important;
	}

	.color-indicator {
		background: none;
		border: none;
		cursor: pointer;
		position: relative;
		width: 25px;
		height: 25px;
	}
	.component-color-indicator {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: linear-gradient(45deg, #ddd 25%, transparent 0),
			linear-gradient(-45deg, #ddd 25%, transparent 0),
			linear-gradient(45deg, transparent 75%, #ddd 0),
			linear-gradient(-45deg, transparent 75%, #ddd 0);
		background-size: 10px 10px;
		background-position: 0 0, 0 5px, 5px -5px, -5px 0;
	}
}

// colors palette
.gkits-color-indicator {
	position: relative;
	display: block;
	cursor: pointer;
	height: 25px;
	width: 25px;
}

div#gkits-colors-palette {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

.gkits-colors-palette {
	padding: 0 15px 15px;
}

.gkits-color-indicator.active:after {
	position: absolute;
	top: 50%;
	display: flex;
	left: 50%;
	width: 15px;
	height: 15px;
	content: "✓";
	background: black;
	color: #fff;
	align-items: center;
	transform: translate(-50%, -50%);
	justify-content: center;
	border-radius: 50%;
	font-size: 10px;
}

// reset button
.gkits-reset-button {
	width: 12px;
	padding: 0 !important;
	margin: 0 !important;
	min-width: unset !important;
	color: #007cba;
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
	&.disabled {
		cursor: not-allowed;
		.dashicon {
			color: #e0e0e0;
		}
	}
	&.active {
		.dashicon {
			color: #007cba;
		}
	}
	.dashicon {
		font-size: 12px;
		line-height: 20px;
	}
}
